html, body, div, h1{margin: 0;padding: 0;border: 0;}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(59, 140, 216); 
}
a{
    font-weight: bold;
    letter-spacing: -1px;
    color: rgb(7, 108, 166);
    text-decoration:none;
}
a:hover{
    color: rgb(242, 243, 232);
    text-decoration:underline;
}
#container{
    width:80%;
    margin: auto;
}
#top{width:100%;margin-top: 25px; height:60px; border:1px solid #BBBBBB; padding:10px;}
#tutorialHead{
    width:100%;
    margin-top: 25px; 
    height:30px; 
    border:1px solid #BBBBBB; 
    padding:10px;
}
.tutorialTitle{width:70%;float:left;}
.tutorialLink{width:20%;float:left;}
.logout{width:9%;float:right;}

#wrapper{width:98%;margin-top: 25px; border:1px solid #BBBBBB; padding:20px; height:260px;}
#wrapper .button{background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;border-radius: 6px 6px 6px 6px;box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;padding: 6px 9px; text-shadow: 1px 1px 0 #FFFFFF;margin-top: 10px;}
.login_box{ border:1px solid #BBBBBB; padding:25px; margin-top:50px;}
#errorMessage{color:red !important ; padding:10px;}
.user_intro{padding:50px; margin-left:30%; margin-top:50px;}
#fotter{clear:both;text-align:right;font-size:10px;color: #222; border:1px solid #BBBBBB; padding:10px;width:100%;margin-top: 25px;}
.tab{
    display: None;
}
.set_calendar{
    @include 'calendar.css';
}